<suite name="Suite" parallel="none">
  	<parameter name="env" value="test"/>   
  	<parameter name="url" value="ebay"/> 
  	<parameter name="Broswer" value="chrome"/> 
   	<test name="Test" parallel="none">> 
  	<classes>    
    	<class name= "com.Pracelpoint.testing.PracelRegression_Suite.TestExecution"/>
   		<methods>
     	<Test>
     		<include name="PracelpointLaunch_Verify"/>     				   		
        </Test>
    	</methods>      	  
  	</classes>      
 	</test>   	
	
</suite> <!-- Suite -->